button{

    background-color: #001e1d;

    color: #abd1c6;

    text-align: center;
}

.center {
    text-align: center;
}

body{

    background-color: #004643;
}

h1{

color: #e16162;
}

h2{

    color: #f9bc60;
}